body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  width: 1440px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/*.logo {
  float: left;
  width: 161px;
  height: 65px;
  margin-right: 200px;
  margin-top: 50px;
  background: url("../img/image-catalog/sprite-catalog/logo-sprite.png");
  background-repeat: no-repeat;
}*/

.logo {
	float: left;
	margin-right: 140px;
	margin-top: 48px;
}

.logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

header ul li a:hover {
  color: #ff003c;
  text-decoration: underline;
}
/*Navigation for both files*/

.main-navigation {
  width: 440px;
  float: left;
  margin-right: 245px;
  margin-top: 84px;
}

.main-navigation ul {
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
}

.main-navigation a {
  display: block;
  padding: 0 10px;
}

.card {
  margin-top: 65px;
  min-height: 65px;
  float: left;
}

/* File index.html*/

section h1 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  min-height: 110px;
  width: 380px;
  margin-top: 85px;
  text-align: left;
}

section p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 360px;
}

section a {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  width: 240px;
  height: 50px;
}

.slider1 {
  width: 1160px;
  height: 431px;
}

.slider1 img {
  float: right;
}

.slider2 {
  width: 1160px;
  height: 431px;
}

.slider2 img {
  float: right;
}

.slider3 {
  width: 1160px;
  height: 431px;
  margin-bottom: 80px;
}

.slider3 img {
  float: right;
}

.sites {
  width: 300px;
  float: left;
  margin-right: 90px;
}

.sites:last-child {
  width: 300px;
  float: left;
  margin-right: 80px;
}

.features {
  margin-bottom: 170px;
}

.sites h2 {
  font-family: Roboto;
  font-weight: 700;
}

.sites p {
  font-family: Roboto;
  font-weight: 400;
}

.sites a {
  font-family: Roboto;
  font-weight: 500;
}

.info {
  width: 650px;
  float: left;
  margin-right: 140px;
}

.info h2 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 45px;
}

.info h3 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
}

.info p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.info ul {
  list-style: none;
}

.info ul li {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}

.promo {
  width: 360px;
  float: left;
}

.promo h3 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 45px;
  font-size: 16px;
}

.promo div {
  float: left;
  font-size: 16px;
  width: 100px;
  margin-right: 25px;
}

.promo div:last-child {
  float: right;
  margin-right: 0;
}

figure img {
	float: left;
	margin-right: 100px;
}

figure img:hover {
	opacity: 0.5;
	cursor: pointer;
}

figure img:last-child {
	margin-right: 0;
	float: right;
}

figure {
	margin-bottom: 160px;
}

.iframe {
  position: relative;
}

.map-adress {
  width: 318px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 20%;
  background-color: white;
}

.img-map {
  position: absolute;
  top: 50%;
  left: 50%;
}

.map-adress a {
  display: block;
  width: 219px;
  height: 48px;
  color: white;
  background-color: red;
}

address {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

address p {
  width: 208px;
  font-size: 16px;
  line-height: 18px;
}

address p:first-child {
  font-weight: bold;
}

.cross {
		border: 1px solid black;
  float: right;
  width: 21px;
  height: 21px;
  margin-right: 100px;
  margin-top: 45px;
  background: url("../img/image-index/cross-sprite.png") no-repeat;
}

.cross:link {
  background-position: 0 0;
}

.cross:hover {
  background-position: 0 -21px;
  cursor: pointer;
}

form p:nth-child(1) {
	float: left;
}

form p:nth-child(2) {
	float: right;
}

form input[type="text"]:nth-child(1){
  width: 130px;
  float: left;
  margin-right: 140px;
}

form input[type="email"]:nth-child(2){
  width: 130px;
  float: right;
}

/*catalog.html*/

.main-navigation, .card {
  margin-bottom: 88px;
}

.main-navigation h1 {
  font-size: Roboto;
  font-weight: 500;
  font-size: 55px;
}

.price input {
  width: 60px;
}

.container {
  margin-bottom: 83px;
}

h1 {
  text-align: center;
}

aside {
  width: 260px;
  float: left;
  margin-right: 140px;
}

.catalog-items {
  width: 780px;
  float: left;
  margin-top: 20px;
}

.catalog-items article {
  width: 360px;
  float: left;
  margin-right: 30px;
  margin-bottom: 36px;
}

.catalog-item:hover {
  background-image: url("../img/browser-2.png");
  cursor: pointer;
}

.sort span {
  display: block;
  width: 360px;
  float: left;
  margin-right: 30px;
}

.sort ul {
  display: block;
  width: 300px;
  float: left;
}

.sort ul li {
  display: inline;
}

.pagination ul li {
  display: inline;
  text-decoration: none;
}
/* checkbox sprite */
.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-ico-checkbox-active {
  width: 12px;
  height: 12px;
  background-position: -10px -10px;
}

.sprite-ico-fb {
  width: 12px;
  height: 22px;
  background-position: -10px -10px;
}

.sprite-ico-inst {
  width: 21px;
  height: 21px;
  background-position: 42px -10px;
}

.sprite-ico-vk {
  width: 26px;
  height: 15px;
  background-position: 83px -10px;
}

.social {
  display: inline-block;
  width: 120px;
  height: 43px;
  font-size: 0;
  background-color: #000000;
  position: relative;
}

.social::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -83px -10px;
}

.btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -10px -10px;
}

.btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -42px -10px;
}

.write-us {
  width: 960px;
}

.write-us h2 {
  margin-left: 100px;
  margin-top: 75px;
}
/* section catalog-items*/


input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("img/image-catalog/checkbox-off.png");
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("img/image-catalog/checkbox-on.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
/* radio sprite */
/*.sprite {
  background-image: url("img/image-catalog/radio-sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-radio-on {
  width: 25px;
  height: 25px;
  background-position: -16px -16px;
}

.sprite-radio-off {
  width: 25px;
  height: 25px;
  background-position: -16px -73px;
}

.sprite-radio-off {
  width: 25px;
  height: 25px;
  background-position: -16px -130px;
}*/

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  width: 25px;
  height: 25px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

input[type="radio"] + label::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  background-position: 0 -42px;
  background: url("img/image-catalog/sprite-catalog/radio-sprite2.png") no-repeat;
}

input[type="radio"]:checked + label::after {
  background-position: 0 0;
  background-image: url("img/image-catalog/sprite-catalog/radio-sprite2.png") no-repeat;
}
