body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.logo {
  float: left;
  width: 161px;
  height: 65px;
  margin-right: 200px;
  margin-top: 50px;
  background: url("../img/image-catalog/sprite-catalog/logo-sprite.png");
  background-repeat: no-repeat;
}

.logo:link {
  background-position: 0 0;
}

.logo:hover {
  background-position: 0 -130px;
  cursor: pointer;
}

header ul li a:hover {
  color: #ff003c;
  text-decoration: underline;
}
/*Navigation for both files*/
.main-navigation {
  width: 440px;
  float: left;
  margin-right: 245px;
  margin-top: 65px;
}

.main-navigation ul {
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
}

.main-navigation a {
  display: block;
  padding: 0 10px;
}

.card {
  margin-top: 65px;
  min-height: 65px;
  float: left;
}
/* File index.html*/
section h1 {
  font-size: 55px;
  line-height: 55px;
  min-height: 110px;
  width: 380px;
  margin-top: 85px;
  text-align: left;
}

section p {
  font-size: 16px;
  line-height: 24px;
  width: 360px;
}

section a {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  width: 240px;
  height: 50px;
}

.slider1 {
  width: 1160px;
  height: 431px;
}

.slider1 img {
  float: right;
}

.slider2 {
  width: 1160px;
  height: 431px;
}

.slider2 img {
  float: right;
}

.slider3 {
  width: 1160px;
  height: 431px;
  margin-bottom: 80px;
}

.slider3 img {
  float: right;
}

.sites {
  width: 300px;
  float: left;
  margin-right: 90px;
}

.sites:last-child {
  width: 300px;
  float: left;
  margin-right: 80px;
}

.features {
  margin-bottom: 170px;
}

.info {
  width: 650px;
  float: left;
  margin-right: 140px;
}

.info ul {
  list-style: none;
}

.promo {
  width: 360px;
  float: left;
}

.promo h3 {
  font-size: 16px;
  font-weight: bold;
}

.promo div {
  float: left;
  font-size: 16px;
  width: 100px;
  margin-right: 25px;
}

.promo div:last-child {
  float: right;
  margin-right: 0;
}
/*.friends div {
  min-height: 180px;
  float: left;
  margin-right: 130px;
  margin-top: 60px;
  margin-bottom: 162px;
}

.friends div:last-child {
  float: right;
  margin-right: 0;
}*/
  /*float: left;
  width: 199px;
  height: 68px;
  margin-right: 130px;
  margin-top: 60px;
  margin-bottom: 70px;
  background: url("../img/image-catalog/sprite-catalog/academy-sprite.png");
  background-repeat: no-repeat;
*/
.academy {
  content: "";
  position: relative;
  width: 199px;
  height: 68px;
  margin-right: 130px;
  background: url("../img/image-index/academy-sprite.png") no-repeat;
  background-position: 0 0;
}
.academy::before {
  position: absolute;
  top: 0;
  left: 0;
  background-position: 0 0;
}
.academy::after {
  background-position: 0 -68px;
  cursor: pointer;
}

.borodinsky {
  content:"";
  position: relative;
  float: left;
  width: 209px;
  height: 90px;
  margin-right: 130px;
  margin-top: 60px;
  margin-bottom: 70px;
  background: url("../img/image-index/borodinsky-sprite.png") no-repeat;
  background-position: 0 0;
}
.borodinsky::before {
  position: absolute;
  top: 0;
  left: 0;
  background-position: 0 0;
}
.borodinsky::after {
  background-position: 0 -90px;
  cursor: pointer;
}

.pink {
  content:"";
  position: relative;
  float: left;
  width: 185px;
  height: 52px;
  margin-right: 130px;
  margin-top: 60px;
  margin-bottom: 70px;
  background: url("../img/image-index/pink-sprite.png") no-repeat;
}
.pink::before {
  position: absolute;
  top: 0;
  left: 0;
  background-position: 0 0;
}
.pink::after {
  background-position: 0 -52px;
  cursor: pointer;
}

.mishka {
  content:"";
  position: relative;
  float: right;
  width: 173px;
  height: 84px;
  margin-top: 60px;
  margin-bottom: 70px;
  background: url("../img/image-index/mishka-sprite.png") no-repeat;
}
.mishka::before {
  position: absolute;
  top: 0;
  left: 0;
  background-position: 0 0;
}
.mishka::after {
  background-position: 0 -84px;
  cursor: pointer;
}

.iframe {
  position: relative;
}

.map-adress {
  width: 318px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 20%;
  background-color: white;
}

.img-map {
  position: absolute;
  top: 50%;
  left: 50%;
}

.map-adress a {
  display: block;
  width: 219px;
  height: 48px;
  color: white;
  background-color: red;
}

address {
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}

.map-adress address p {
  width: 208px;
  font-size: 16px;
  line-height: 18px;
}
/*catalog.html*/
header h1 {
  font-size: 55px;
}

.sort ul {
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.sort li {
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
}

.sort a {
  display: block;
  padding: 0 10px;
}

.price input {
  width: 60px;
}

.container {
  margin-bottom: 83px;
}

h1 {
  text-align: center;
}

aside {
  float: left;
  margin-right: 140px;
}

.catalog-items {
  width: 780px;
  float: left;
}

.catalog-items article {
  width: 360px;
  float: left;
  margin-right: 30px;
  margin-bottom: 36px;
}

.catalog-item:hover {
  background-image: url("../img/browser-2.png");
  cursor: pointer;
}
/* checkbox sprite */
.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-ico-checkbox-active {
  width: 12px;
  height: 12px;
  background-position: -10px -10px;
}

.sprite-ico-fb {
  width: 12px;
  height: 22px;
  background-position: -10px -10px;
}

.sprite-ico-inst {
  width: 21px;
  height: 21px;
  background-position: 42px -10px;
}

.sprite-ico-vk {
  width: 26px;
  height: 15px;
  background-position: 83px -10px;
}

.social {
  display: inline-block;
  width: 120px;
  height: 43px;
  font-size: 0;
  background-color: #000000;
  position: relative;
}

.social::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -83px -10px;
}

.btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -10px -10px;
}

.btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -42px -10px;
}
/* section catalog-items*/


input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("img/image-catalog/checkbox-off.png");
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("img/image-catalog/checkbox-on.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
/* radio sprite */
/*.sprite {
  background-image: url("img/image-catalog/radio-sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-radio-on {
  width: 25px;
  height: 25px;
  background-position: -16px -16px;
}

.sprite-radio-off {
  width: 25px;
  height: 25px;
  background-position: -16px -73px;
}

.sprite-radio-off {
  width: 25px;
  height: 25px;
  background-position: -16px -130px;
}*/

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  width: 25px;
  height: 25px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

input[type="radio"] + label::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  background-position: 0 -42px;
  background: url("img/image-catalog/sprite-catalog/radio-sprite2.png") no-repeat;
}

input[type="radio"]:checked + label::after {
  background-position: 0 0;
  background-image: url("img/image-catalog/sprite-catalog/radio-sprite2.png") no-repeat;
}
